@media screen and (max-width : 600px){
    .header{
        padding: 20px;
    }
    .sub-container {
        font-size: 60px;
        line-height: 60px;
    }
    .container{
        min-height: 50%;
    }
    .sub-container-2{
        /* display: flex; */
        flex-direction: column;
        gap: 10px;
    }
    .span-container {
        padding: 3rem;
    }
    .main-sub-container>p,.main-sub-container-2,.main-image-container{
        width: 80%;
        /* text-align: left; */
    }
    .footer{
        padding: 2rem;
    }
    .footer>p{
        font-size: 20px;
    }

}